* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./images/wall.jpg');
  align-items: center;
  height: 100vh;
  font-size: 62.5%;
}

.tittle {
  text-align: center;
  padding: 5rem 0;
  font-size: 5rem;
  font-family: sans-serif;
}

.container-game {
  display:flex;
}
.gameboard {
  position:relative;
    border: 8px solid black;
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .celeste {
    background-image: linear-gradient(to right, #1f41ff 0%, #1f79ff  51%, #1f41ff  100%);
  }
  
  .violeta {
    background-image: linear-gradient(to right, #ff1f1f 0%, #fa7a12  51%, #ff1f1f  100%);
  }

  .naranja {
    background-image: linear-gradient(to right, #fffb1f 0%, #f3f170  51%, #fffb1f  100%);
    
  }

  .verde {
      background-image: linear-gradient(to right, #1fff3d 0%, #1fff6a  51%, #1fff3d  100%)
  }

  .light {
    filter: brightness(200%);
  }

  .btn-start {
    width: 12rem;
    border: 8px solid black;
    height: 12rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    background: rgb(233, 232, 231);
    color: #265585;
    position: absolute;
    top: calc(50% - 6rem);
    left: calc(50% - 6rem);
  }
  .btn-center {
    border: 8px solid black;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    background-image: url(./images/wall.jpg);
    position: absolute;
    top: calc(50% - 6rem);
    left: calc(50% - 6rem);
  }

  .border {
    border: 8px solid black;
  }

  .hide {
    display: none;
  }